.lotto-wrapper {
  display: flex;
  gap: 4px;
}

.ball {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
